<%# 検索フォーム %>
<div class="main-header">
  <%= form_with url: reference_plans_path, method: :get, local: true do |form| %>
  <div class="select-user">検索するユーザーを選択してください：
    <% 4.times do |t| %>
      <select name="user_ids[]" class="search-users">
        <option value="--">選択してください</option>
        <% User.all.each do |user| %>
          <option value=<%= user.id %>><%= user.name %></option>
        <% end %>
      </select>
    <% end %>
    <div>
      <%= form.submit "検索", class:"search-btn"%>
    </div>
  </div>
  <% end %>
</div>

<%# カレンダー表示部分 ※予定がなければカレンダーのみ表示する %>
<% if !@plans.present? %>
  <div class="calendar">
    <%= month_calendar do |date| %>
      <%= date.day %>      
    <% end %>
  </div>
<% else %>
  <div class="calendar">
    <%= month_calendar events: @plans do |date, plans| %>
      <%= date.day %>
      <% plans.each do |plan| %>
        <div>
          <%= link_to(plan_path(plan)) do %>
            <% if plan.date_pattern == "通常" %>
              <%= plan.start_time.strftime("%-H:%M") %><span>-</span><%= plan.ending_time.strftime("%-H:%M") %>
              <%= plan.title%>
            <% elsif plan.date_pattern == "締切" %>
              <%= plan.ending_time.strftime("%-H:%M") %><span>まで</span>
              <%= plan.title %>
            <% else %>
              <%= plan.title %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%# フッター部分 %>
<%# div class="main-footer">
  メインフッター
</div %>
