<div class="header">
  <%= render "shared/header" %>
</div>

<div class="wrapper">

  <%#メインフォーム部分 %>
  <div class="main-form">
    <%= render "shared/main_form" %>
  </div>
  <%#メインフォーム部分 %>

  <%#サイドフォーム部分%>
  <div class="side-form">
    <div class="edit-header">
      変更フォーム
    </div>
    <%= form_with model: @plan, local: true do |form| %>
    <div class="side-main">

      <div class="title">
        <div class="column-name">
          タイトル
        </div>
        <div class="column-input">
          <%= form.text_field :title, class:"input-title", maxlength:"20", size: 31, placeholder:"件名 ※20文字まで" %>
        </div>
      </div>

      <div class="time">
        <div class="data-pattern">
          <%= form.radio_button :date_pattern, :"通常" %>
          <%= form.label :date_pattern, "通常", { value: "通常", style: :"display: inline-block;"} %>
          <%= form.radio_button :date_pattern, :"締切" %>
          <%= form.label :date_pattern, "締切", { value: "締切", style: :"display: inline-block;"} %>
          <%= form.radio_button :date_pattern, :"終日" %>
          <%= form.label :date_pattern, "終日", { value: "終日", style: :"display: inline-block;"} %>
        </div>
        <div class="start-time">
          <div class="column-name">
            開始時間
          </div>
          <div class="column-input">
            <%= form.datetime_select(:start_time,
                                     class:"input-time",
                                     start_year: (Time.now.year),
                                     end_year: (Time.now.year)+1,
                                     start_hour: 8,
                                     end_hour: 20,
                                     minute_step: 15)%>
          </div>
        </div>
        <div class="ending-time">
          <div class="column-name">
            終了時間
          </div>
          <div class="column-input">
            <%= form.datetime_select(:ending_time,
                                   class:"input-time",
                                   start_year: (Time.now.year),
                                   end_year: (Time.now.year)+1,
                                   start_hour: 8,
                                   end_hour: 20,
                                   minute_step: 15)%>
          </div>
        </div>
      </div>

      <div class="user">
        <%# すでに登録されているユーザーの選択表示%>
        <% @plan.users.each do |select_user| %>
          <% if !(select_user.id == current_user.id) %>
          <div class="column-user">
            <div class="column-name">
              <%= "参加者"%>
            </div>
            <div class="column-input">
              <select name="plan[user_ids][]">
                <option value="">選択してください</option>
                <% User.where.not(id: current_user.id).each do |user| %>
                  <% if select_user.id == user.id %>
                    <option value=<%= user.id %> selected ><%= user.name %></option>
                  <% else %>
                    <option value=<%= user.id %> ><%= user.name %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>
          <% end %>
        <% end %>
        <%# すでに登録されているユーザーの選択表示%>

        <%# 選択されないセレクタの表示%>
        <% @users_count.times do |t| %>
          <div class="column-user">
            <div class="column-name">
              <%= "参加者"%>
            </div>
            <div class="column-input">
              <select name="plan[user_ids][]">
                <option value="">選択してください</option>
                <% User.where.not(id: current_user.id).each do |user| %>
                  <option value=<%= user.id %> ><%= user.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        <% end %>
        <%# 選択されないセレクタの表示%>

        <input name="plan[user_ids][]" type="hidden" value=<%= current_user.id%>>
      </div>

      <div class="comment">
        <div>
          コメント（注意事項など）
        </div>
        <%= form.text_area :comment, rows:"9", size: "46x7" , maxlength:"500",  class:"input-comment", placeholder:"（例）\n田中もしくは鈴木に直接提出をお願いします。\n遅れる場合は事前にご連絡をお願いいたします。\n※500文字まで" %>
      </div>

      <%= render 'shared/error_messages', model: @plan %>

      
    </div>
    <div class="side-footer">
      <div class="submit">
        <%= form.submit "変更", class:"edit-btn"%>
      </div>
    </div>
    <% end %>
  </div>
  <%#サイドフォーム部分%>
</div>